/* Slick styles */
/* .carousel__item {
  margin-right: 1.25rem;
} */
/* .carousel__item:last-child{
  margin-right: 0;
} */

/* @media (max-width: 1439px) {
  .carousel__item {
  margin-right: 0.63rem;
}
} */

/* Слайдер */
/* .slick-slider{} */
/* Обертка */
.slick-list{
  overflow: hidden;
}
/* Лента слайдов */
/* .slick-track{} */

/* Слайд */
/* .slick-slide{} */
/* Активный слайд */
/* .slick-slide.slick-active{} */
/* Основной слайд */
/* .slick-slide.slick-current{} */
/* Центральный слайд */
/* .slick-slide.slick-center{} */

/* Стрелка */
.slick-arrow{
position: absolute;
top: -60px;
width: 100px;
height: 16px;
font-size: 0;
}
/* Стрелка влево */
.slick-arrow.slick-prev{
  background: url(../images/dist/arrow-left.svg) no-repeat;
  right: 8.82rem;
}
/* Стрелка вправо */
.slick-arrow.slick-next{
  background: url(../images/dist/arrow-right.svg) no-repeat;
  right: 0;
}
/* Стрелка не активная */
/* .slick-arrow.slick-disabled{} */

/* Точки */
/* .slick-dots{}
.slick-dots li{}
.slick-dots button{} */




/* DESKTOP */

body {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    color: #F2F2F2;
    background: linear-gradient(80.5deg, #83A4BD 11.55%, #A5A2B3 24.51%, #BA929B 33.33%, #BD8689 39.89%, #C46F6A 47.85%, #C65857 55.62%, #BF4145 65.14%, #9C2E37 75.49%, #7A262E 84.66%, #5B1E23 95.55%, #421F23 103.99%, #2D1C22 111.11%);
  }
  
  a {
    text-decoration: none;
    cursor: pointer;
    color: #F2F2F2;
  }
  
  p, h1, h2, h3, h4, h5, h6, ul, li {
    padding: 0;
    margin: 0;
  }
  
  button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .header {
    padding-top: 2rem;
    margin-bottom: 5.6rem;
  }
  
  .logo-tablet {
    display: none;
  }
  
  .nav__link {
    padding-right: 3.125rem;
  }
  
  .nav__link:last-child {
    padding-right: 0;
  }
  
  .callback {
    text-align: center;
  }
  
  .phone-and-number {
    font-weight: 600;
  }
  
  .phone-ico {
    padding-right: 0.6rem;
  }
  
  .phone-and-number_call {
    font-size: 0.8125rem;
    line-height: 1.3rem; 
  }
  
  
  /* Section cost-calculation */
  .cost-calculation {
    margin-bottom: 6rem;
  }
  
  .cost-calculation__title {
    padding-top: 3.125rem;
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 2.925rem;
  }
  
  .cost-calculation__desc {
    padding-top: 1.25rem;
    font-size: 1.25rem;
    line-height: 2rem;
    margin-bottom: 3.13rem;
  }
  
  .cost-calculation__button {
    margin-bottom: 6.25rem;
    padding: 1.25rem 2rem;
    background-color: #F2323D;
    border-radius: 6px;
    transition-duration: 1s;
  }
  
  .cost-calculation__button:hover {
    background-color:#C9000C;
  }
  
  .cost-calculation__link {
    font-size: 1.25rem;
  }
  
  .our-advantages {
    display: flex;
  }
  
  .cost-calculation__border {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid #E9E9E9;
    padding-left: 1rem;
  }
  
  .cost-calculation__border img {
    max-width: 30px;
  }
  
  .cost-calculation__text {
    padding-top: 1.15rem;
  }
  
  .truck-and-storage {
    width: 100%;
    height: 100%;
    background: url(../images/dist/truck-and-storage.svg) no-repeat;
    background-size: contain;
    
  }
  
  .we-specialize,
  .list-of-works,
  .book-a-consultation,
  .answers-on-questions {
    background-color: rgba(250, 250, 250, 0.1);
  }
  
  /* Section we-specialize */
  .we-specialize {
    padding-top: 3.53rem;
    padding-bottom: 5rem;
  }
  
  .we-specialize__title {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.6rem;
    margin-bottom: 3rem;
  }
  
  .we-specialize__achievements {
    line-height: 1.575rem;
  }
  
  .achievements-image {
    border-radius: 0.375rem;
    margin-right: 1.88rem;
    max-width: 14.37rem;
  }
  
  .achievements-title {
    margin-top: 1rem;
    margin-bottom: 1.25rem;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8rem;
  }
  
  .achievements-list {
    padding-left: 1.3rem;
    font-size: 1.13rem;
    line-height: 1.58rem;
  }
  
  .achievements-list__element {
    padding-bottom: 0.75rem;
  }
  
  .achievements-list__element:last-child {
    padding-bottom: 0;
  }
  
  .achievements-subtitle {
    font-size: 1.13rem;
    line-height: 1.58rem;
  }
  
  
  /* Section input form */
  .input-form {
    padding: 5rem 0;
  }
  
  .input-form img{
   width: 100%;
   height: auto; 
  }
  
  /* Section list-of-works */
  .list-of-works {
    padding: 5rem 0;
  }
  
  .list-of-works_title {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.6rem;
    margin-bottom: 2.5rem;
  }
  
  .box-red {
    background-color: #F2323D;
  }
  
  .box-red:hover {
    background-color:#C9000C;
  }
  
  .list-of-works_box {
    max-width: 22.5rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 10px 20px rgba(116, 18, 18, 0.05));
    border-radius: 6px;
    transition-duration: 1s;
    margin: 0 2.5rem 2.5rem 0;
  }
  
  .list-of-works_box:hover {
    background-color:#352e92;
  }
  
  .list-of-works_numeric {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.6rem;
  }
  
  .list-of-works_text {
    font-weight: 500;
    line-height: 1.86rem;
    padding: 1.88rem 0 1.88rem 2.5rem;
  }
  
  /* Section reviews-about-working*/
  .reviews-about-working {
    margin: 5rem 0;
  }
  
  .reviews-about-working_title {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 2.5rem;
  }
  
  .arrows button {
    padding: 0;
    background: none;
    border: none;
    margin-right: 2.5rem;
    cursor: pointer;
  }
  
  .arrows button:last-child {
    margin-right: 0;
  }
  
  .reviews-about-working_border-image {
    border-radius: 6px;
    /* padding-right: 1.25rem; */
  }
  
  /* .reviews-about-working_border-image:last-child {
    padding-right: 0;
  } */
  
  /* Section book-a-consultation */
  .book-a-consultation {
    padding: 5rem 0;
  }
  
  .book-a-consultation_border {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 6px;
    max-height: 22.81rem;
  }
  
  .book-a-consultation_engeneer {
    position:relative;
    bottom: 6.85rem;
  }
  
  .book-a-consultation_desc {
    font-size: 2rem;
    line-height: 2.6rem;
    margin: 3.75rem 5rem 2.5rem 0;
  }
  
  .book-a-consultation_input {
    margin-bottom: 5rem;
  }
  
  .input_form {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 6px;
    color: black;
    padding: 1.25rem 0 1.25rem 1.88rem;
    outline: none;
    margin-right: 1.25rem;
  }
  
  .input_form::placeholder {
    color: white;
  }
  
  .input_buy-button {
    font-weight: 600;
    line-height: 1.125rem;
    background: #F2323D;
    border-radius: 6px;
    padding: 1.25rem 3.8rem;
    transition-duration: 1s;
    border: none;
    color: white;
  }
  
  .input_buy-button:hover {
    background-color:#C9000C;
  }
  
  /* Section certificate */
  .certificate {
    margin: 5rem 0;
  }
  
  .certificate-certificates {
    padding-right: 2.5rem;
  }
  
  .certificate-certificates:last-child {
    padding-right: 0;
  }
  
  /* Section answers-on-questions */
  .answers-on-questions {
    padding: 5rem 0;
    font-weight: 500;
    line-height: 1.91rem;
  }
  
  .answers-on-questions_title {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.6rem;
    margin-bottom: 2.5rem;
  }
  
  .answers-on-questions_block {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 10px 20px rgba(116, 18, 18, 0.05));
    border-radius: 6px;
    /* max-width: 35rem; */
    /* margin-bottom: 1.25rem; */
    /* padding: 1.875rem; */
    padding: 1.88rem 2rem 1.88rem 1.88rem;
    margin-bottom: 1.25rem;
  }
  
  .answers-on-questions_block:last-child {
    margin-bottom: 0;
  }
  
  .block-button {
    /* border: none;
    background: none; */
    transition-duration: .5s;
    border-radius: 6px;
  }
  
  .block-button path:hover {
    fill: #C9000C;
    /* background-color:#C9000C; */
  }
  
  .block-button:active {
    transform: rotate(180deg);
  }
  
  .answers-on-questions_time-to-send {
    font-weight: 400;
    font-size: 1.125rem;
    padding-top: 1.125rem;
  }
  
  
  /* Section footer */
  
  .footer{
    position: relative;
  }
  
  .footer iframe {
    width: 100%;
  }
  
  .footer__feedback {
    position: absolute;
    top: 5rem;
    left: 5rem;
    background: #FDFDFD;
    color: #333333;
    padding: 3.75rem;
    box-shadow: 0px 10px 20px rgba(116, 18, 18, 0.05);
    border-radius: 6px;
  
  }
  
  .feedback_title {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.6rem;
    padding-bottom: 1.6rem;
  }
  
  .feedback_phone-and-website {
    font-size: 1.25rem;
    line-height: 2rem;
    color: #4F4F4F;
    padding-bottom: 1.56rem;
  }
  
  .feedback_adress {
    font-size: 1rem;
    line-height: 1.6rem;
    color: #4F4F4F;
    padding-bottom: 2.18rem;
    transition-duration: 1s;
  }
  
  .truck-and-storage-mobile {
    display: none;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* TABLET */
  
  
  @media (max-width: 1439px) {
    
  .header{
    margin-bottom: 2rem;
  }
    
  .logo-tablet {
    display:flex;
    float: right;
    width: 25%;
    padding-right: 5rem;
  }
  
  .nav__link {
    padding-right: 1.88rem;
    font-weight: 500;
  }
    
  .phone-and-number {
    font-weight: 600;
    font-size: 1.125rem;
  }
  
  .phone-and-number_call {
    font-size: 0.81rem;
  }
  
  /* Section cost-calculation */
  .cost-calculation {
    margin-bottom: 2.75rem;
  }
    
    .cost-calculation__title {
    padding-top: 1.65rem;
    font-size: 1.5rem;
    line-height: 1.95rem;
  }
    
  .cost-calculation__desc {
    padding-top: 1rem;
    font-size: 1rem;
    line-height: 1.6rem;
    margin-bottom: 2.88rem;
  }
    
  .cost-calculation__button {
    padding: 1.2rem 1.9rem;
    margin-bottom: 4.3rem;
  }
    
  .cost-calculation__link {
    font-size: 1.12rem;
  }
    
  .cost-calculation__border {
    padding-left: 0.6rem;
  }
  
  .cost-calculation__border img {
    max-width: 18.6px;
  }
  
  .cost-calculation__text {
    font-weight: 400;
    font-size: 0.69rem;
    padding-top: 0.7rem;
  }
  
  
  /* Section we-specialize */
  .we-specialize {
    padding-bottom: 3.13rem;
  }
    
  .we-specialize__title {
    font-size: 1.5rem;
    line-height: 1.95rem;
    margin-bottom: 1.66rem;
  }
    
  .we-specialize__achievements {
    line-height: 1.23rem;
  }
  
  .achievements-image {
    margin-right: 1.25rem;
    max-width: 10.93rem;
  }
    
  .achievements-title {
    margin-bottom: 1rem;
    font-size: 1.12rem;
    line-height: 1.35rem;
  }
  
  .achievements-list {
    padding-left: 0;
    list-style-type: none;
    font-size: 0.88rem;
    line-height: 1.23rem;
  }
  
  .achievements-list__element {
    padding-bottom: 0.5rem;
  }
  
  
  .achievements-subtitle {
    font-size: 0.88rem;
    line-height: 1.23rem;
  }
  
  
  /* Section input form */
  .input-form {
    padding: 3.13rem 0;
  }
    
  
    /* Section list-of-works */
    .list-of-works {
      padding: 3.12rem 0;
    }
    
    .list-of-works_title {
      font-size: 1.5rem;
      line-height: 1.9rem;
      margin-bottom: 1.56rem;
    }
  
    .list-of-works_box {
      max-width: 15rem;
      margin: 0 1.25rem 1.25rem 0;
    }
    
    .list-of-works_numeric {
      top: 0.63rem;
      right: 0.63rem;
      font-size: 1.25rem;
      line-height: 1.63rem;
    }
  
    .list-of-works_text{
      font-size: 0.88rem;
      line-height: 1.44rem;
      padding: 0.94rem 0 0.94rem 0.94rem;
    }
  
  
    /* Section reviews-about-working*/
    .reviews-about-working {
      margin: 3.13rem 0;
    }
    
    .reviews-about-working_title {
      font-size: 1.5rem;
      margin-bottom: 1.56rem;
    }
    
    .reviews-about-working_border-image {
      max-width: 10.94rem;
      /* padding-right: 0.63rem; */
    }
    
  
  /* Section book-a-consultation */
    .book-a-consultation {
      padding: 4rem 0;
    }
    
    
    .book-a-consultation_border {
      max-height: 14.88rem;
    }
    
    .book-a-consultation_engeneer {
      max-width: 14rem;
      bottom: 3rem;
    }
    
    .book-a-consultation_desc {
      font-size: 1.5rem;
      line-height: 1.95rem;
      margin: 1.81rem 0 1.5rem 0;
    }
  
    .book-a-consultation_input{
      margin-bottom: 2.69rem;
    }
    
    .input_form {
      padding: 1rem 0 1rem 1rem;
      margin-right: 0.94rem;
    }
    
    .input_buy-button {
      font-size: 1rem;
      line-height: 1rem;
      padding: 1rem 2rem;
    }
  
  
  /* Section certificate */
    .certificate {
      margin: 3.12rem 0;
    }
  
    .certificate-certificates {
      padding-right: 1.25rem;
      max-width: 10.94rem;
    }
    
  
  /* Section answers-on-questions */
    .answers-on-questions {
      padding: 3.12rem 0;
      font-size: 0.86rem;
      line-height: 0.98rem;
    }
    
    .answers-on-questions_title {
      font-size: 1.5rem;
      line-height: 1.95rem;
      margin-bottom: 1.56rem;
    }
    
    .answers-on-questions_block {
      margin-bottom: 1.25rem;
      padding: 1.23rem;
      /* max-width: 22.94rem; */
    }
    
    .answers-on-questions_time-to-send {
      font-weight: 500;
      font-size: 0.74rem;
      padding-top: 1rem;
      line-height: 1.25rem;
    }
    
  
  /* Section footer */
    .footer__feedback {
      position: absolute;
      top: 3rem;
      left: 2rem;
      padding: 2rem;
    }
    
    .feedback_title {
      font-size: 1.5rem;
      line-height: 1.9rem;
      padding-bottom: 1.31rem;
    }
  
  
  }
  
  
  
  
  
  
  
  
  
  
  
  /* MOBILE */
  @media (max-width: 859px) {
      
    .header{
      margin-bottom: 3.12rem; 
    }
  
    .mobile__nav-menu{
        position: relative;
    }
  
    .burger-line{
        width: 18px;
        height: 1px;
        background-color: white;
    }
  
    .burger-line:first-child{
        position: absolute;
        bottom: 5px;
    }
  
    .burger-line:last-child{
        position: absolute;
        top: 5px;
    }
    
    .logo {
    max-width: 6.75rem;
    }
    
    /* Section cost-calculation */
    .cost-calculation {
      margin-bottom: 2.5rem;
    }
    
    .cost-calculation__title {
      padding-top: 0;
      font-size: 1.25rem;
      line-height: 1.63rem;
      text-align: center;
    }
    
    .cost-calculation__desc {
      text-align: center;
      margin-bottom: 1.88rem;
    }
    
    .cost-calculation__button {
      display: flex;
      margin: 0 auto;
      margin-bottom: 2rem;
    }
  
    .our-advantages {
    max-width: 14rem;
    margin: 0 auto;
    flex-direction: column;
    padding: 2.5rem 2rem;
    background-color:rgba(255, 255, 255, .1);
    border-radius: 12px;
    }
  
    .cost-calculation__border {
    padding-left: 0.94rem;
    margin-bottom: 1.88rem;
    }
  
    .cost-calculation__border img {
    max-width: 30.43px;
    }
  
    .cost-calculation__text {
      font-size: 1.1rem;
      padding-top: 1.1rem;
    }
  
  
  
  
    /* Section we-specialize */
    .we-specialize {
      padding-top: 2.5rem;
      padding-bottom: 0.63rem;
    }
    
    .we-specialize__title {
      font-size: 1.4rem;
      line-height: 1.8rem;
      text-align: center;
      margin-bottom: 1.25rem;
    }
    
    .achievements-image {
        display: flex;
        margin: 0 auto;
        margin-bottom: 1.25rem;
        max-width: 18.75rem;
        width: 18.75rem;
        height: 12.5rem;
      }
  
      .achievements-title {
        margin-top: 0;
        margin-bottom: 0.63rem;
        text-align: center;
      }
    
    .achievements-list {
      text-align: center;
      margin-bottom: 1.88rem;
    }
  
    .achievements-list__element {
      padding-bottom: 0;
    }
  
    .achievements-text{
        text-align: center;
        margin-bottom: 1.88rem;
    }
    
  
  
  /* Section input form */
    .input-form {
      padding: 2.5rem 0;
    }
    
  
  /* Section list-of-works */
    .list-of-works {
      padding: 2.5rem 0;
    }
    
    .list-of-works_title {
      font-size: 1.38rem;
      line-height: 1.8rem;
      text-align: center;
      margin-bottom: 1.63rem;
    }
    
    .list-of-works_box {
     width: 15rem;
     height: 4.7rem;
     margin: 0;
     margin-bottom: 1rem;
    }
    
    .list-of-works_box:last-child{
    margin-bottom: 0;
    }
  
    /* Section reviews-about-working*/
    .reviews-about-working {
      margin: 2.5rem 0;
    }
    
    .reviews-about-working_title {
      font-size: 1.38rem;
      margin-bottom: 1.88rem;
      text-align: center;
    }
  
  
    .arrows-mobile button{
      padding: 0;
      background: none;
      border: none;
      margin-top: 1.88rem;
      margin-right: 2.5rem;
      cursor: pointer;
    }
    
    .arrows-mobile button:last-child{
      margin-right: 0;
    }
  
  
  /* Section book-a-consultation */
    .book-a-consultation {
      padding: 0 0 2.5rem 0;
    }
  
    .book-a-consultation_border {
        max-height: 26.25rem;
        border-right: none;
        border-left: none;
        border-radius: 0;
      }
  
    .book-a-consultation_engeneer-mobile {
        max-width: 16.75rem;
    }
    
    .book-a-consultation_desc {
      font-size: 1.25rem;
      line-height: 1.63rem;
      margin: 1.9rem 0;
    }
    
    .book-a-consultation_input{
      margin-bottom: 1.94rem;
    }
  
    .input_form {
      padding: 1.25rem 0 1.25rem 0;
      width: 18.75rem;
      margin: 0;
      margin-bottom: 0.75rem;
    }
  
    .input_form::placeholder{
        padding-left: 30px;
    }
    
    .input_buy-button {
      font-size: 1.12rem;
      line-height: 1.12rem;
      padding: 1.25rem 6.93rem;
    }
  
  /* Section certificate */
    .certificate {
      margin: 2.5rem 0;
    }
  
  
  
  /* Section answers-on-questions */
    .answers-on-questions {
      padding: 2.5rem 0;
      line-height: 1rem;
    }
    
    .answers-on-questions_title {
      font-size: 1.37rem;
      line-height: 1.79rem;
      margin-bottom: 0.75rem;
      text-align: center;
    }
    
    .answers-on-questions_block {
      margin-bottom: 0.88rem;
      padding: 1rem;
      font-size: 0.7rem;
      line-height: 0.8rem;
    }
  
    .answers-on-questions_block:last-child {
        margin-bottom:  0.88rem;
    }
    
    .answers-on-questions_time-to-send {
      font-size: 0.6rem;
      padding-top: 0.6rem;
      line-height: 1rem;
    }
    
  
  /* Section footer */
    .footer__feedback {
      position: static;
      padding: 0;
      text-align: center;
    }
    
    .feedback_title {
      font-size: 1.38rem;
      line-height: 1.8rem;
      padding-top: 2.38rem;
      padding-bottom: 1rem;
    }
    
    .feedback_phone-and-website { 
       padding-bottom: 0.9rem; 
    }
    
    .feedback_adress {
      padding-bottom: 1.5rem;
    }

    /* Ask to position on mob */
    /* Стрелка  */
    .slick-arrow{
    position: static;
    position: absolute;
    bottom: 0;
    }
    /* Стрелка влево */
    .slick-arrow.slick-prev{
      left: 60px;
    }
    /* Стрелка вправо */
    .slick-arrow.slick-next{
      right: 60px;
    }  
  }



